@import '../../styles/main';

.list {
  max-width: 100vw;
  height: 163px;
  text-align: center;

  & > * {
    display: inline-block;
    margin-bottom: 50%;
  }
}

.place {
  line-height: 40px;
  font-size: 14px;
  margin-left: 64px;
  color: $secondaryForegroundColor;
}

@media screen and (max-width: 320px) {
  .place {
    margin-left: 8px;
    width: 100%;
    text-align: center;
  }
}
