@import '../../styles/main';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  p {
    font-size: 32px;
    margin: 0;
    text-align: center;
    color: $secondaryForegroundColor;
    font-weight: 300;

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }

    strong {
      color: $secondaryColor;
    }
  }
}
